body{
    background: rgb(21,32,43);
    background: linear-gradient(90deg, rgba(21,32,43,1) 0%, rgba(25,69,71,1) 100%);
    background-attachment: fixed;
}



.publicaciones{
    padding: 2rem;
    background-color: #2aa3ef0a;
    border-radius: 30px;
}


.padre-lateral{
    margin-bottom: 45rem;

}




.categorias{

    background-color: #2aa3ef0a;
    border-radius: 30px;
    height: 100%;
  
    


}


.titulo-trends{
    padding: 2rem 2rem 1rem 2rem;

    h6{
        color: #4FD8E0;
    }

    i{
        color: #4FD8E0;
    }
}


.stats-box{
    padding: 0rem 2rem 0rem 2rem;
}


.show-more-box{
    padding: 0rem 2rem 2rem 2rem;

    h6{
        color: #4FD8E0;
    }

}


